<div>
  <h1>Posts</h1>
  <%= link_to '<i class="fas fa-plus-circle"> New post</i>'.html_safe, new_post_path, class: "text-dark" %>
</div>
<div class="col-12">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <!-- 각 행마다 링크 연결 -->
        <tr class='clickable-row' data-href='/posts/<%= post.id %>'>
          <th scope="row"><%= post.id %></th>
          <td><%= post.title %></td>
          <td><%= post.user.email %></td>
          <td><%= post.created_at %></td>
          <td>
            <% if post.liked_users.include?(current_user) %>
              <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, "/posts/#{post.id}/dislike",  class: "text-dark like_button" %>
            <% else %>
              <%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, "/posts/#{post.id}/like",  class: "text-dark like_button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @posts =%>
</div>
<!-- 테이블 행에 링크를 연결하기 위한 함수 -->
<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
    $(".like_button").on("click", function(e){
      event.stopPropagation();
    })
  });
</script>
